<!DOCTYPE html>
<html>

    <head>
        <title>Pantry Raider</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/about-style.css" />
        <script src="/javascripts/script.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous" async defer></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous" async defer></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous" async defer></script>
    </head>

    <nav class="navbar navbar-light sticky-top sticky-md-top"
        style="background-color: #eecc0a;">
        <span class="navbar-brand mb-0 h1">We Got You Covered</span>
        <div class="about-section">
            <h1 style="text-align: center;">About Us</h1>
            <p>We give you the recipes you never knew you needed</p>
        </div>
        <a href="/" class="btn btn-light btn-lg fa-pull-right"
            style="margin: 10px">Back
        </a>
    </nav>

    <body>
        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="/images/chef.png" alt="Joey"
                        style="width:15%">
                    <div class="container">
                        <h2>Joey Zelinka</h2>
                        <p class="title">Recipe Master</p>
                        <p>The mastermind behind the recipes</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/images/api.png" alt="Karen"
                        style="width:15%">
                    <div class="container">
                        <h2>Karen Seunsom</h2>
                        <p class="title">API Expert</p>
                        <p>The expert behind rendering the API to our site</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/images/database.png" alt="Ronny"
                        style="width:15%">
                    <div class="container">
                        <h2>Ronny Barahona</h2>
                        <p class="title">Database King</p>
                        <p>The legend behind getting our precious database rendered correctly</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/images/css.png" alt="SemaJ"
                        style="width:15%">
                    <div class="container">
                        <h2>SemaJ Solomon</h2>
                        <p class="title">Page Creator</p>
                        <p>The page and style creator</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </body>