<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cheffavs.css" />
    <title><%- include('partials/head') %></title>
</head>

<body>
    <div class="container">
        <!-- Beginning of card -->
        <% let i = 0 %>
        <% dishes.forEach((dish) => { %>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="pictures" src="<%= pictures[i]%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title"><%= dish.name %></h4>
                        <ul class="card-text ps-0" style="list-style: none;">
                            <% dish.Ingredients.forEach((ingredient) => { %>
                            <li class="card-text fs-5 pl-0" style="display: inline;"><%= ingredient.name %></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% i++ %>
        <% }) %>
    </div>
</body>

</html>