<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cheffavs.css" />
    <title><%- include('partials/head') %></title>
    <title>Pantry Raider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/script.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"
        async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
        async defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light"
    style="background-color: #eecc0a;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">We Got You Covered</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0
                    navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="/favorites">Favorite
                                    Recipes</a></li>
                            <li><a class="dropdown-item" href="/about">About
                                    Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="row pb-3">
            <div class="col-12 header text-center heading-text">
                <h2 class="display-4 bp-5" style="margin-top: 15px">Our chef's personal favorites</h2>
            </div>
        </div>
    <div class="container">
        <div class="results d-flex row justify-content-around">
        <!-- Beginning of card -->
        <% let i = 0 %>
        <% dishes.forEach((dish) => { %>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="pictures" src="<%= pictures[i]%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title"><%= dish.name %></h4>
                        <ul class="card-text ps-0" style="list-style: none;">
                            <% dish.Ingredients.forEach((ingredient) => { %>
                            <li class="card-text fs-5 pl-0" style="display: inline;"><%= ingredient.name %></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% i++ %>
        <% }) %>
        </div>
    </div>
</body>

</html>