<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- include('partials/head') %>
    </title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Pantry Raider</span>
        </div>
    </nav>
    <div class="container">
        <div class=" d-flex" style="width: 18rem;">
            <div class="card-body">
                <form>
                    <div class="login">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                                placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="email" id="password" placeholder="Password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Log in</button>
                    </div>
                    <button type="submit" class="btn btn-warning">Guest login</button>
                </form>
            </div>
        </div>
    </div>
</body>


</html>