<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%- include('partials/head') %>
            <%- include('partials/stylehead') %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/loginStyles.css">
    <script src="../public/javascript/"></script>
</head>

<body class="bg">
    <nav class="navbar navbar-light" style="background-color: #eecc0a;">Pantry Raider
    </nav>
    <!-- alerts -->
    <%- include('partials/alerts') %>
        <div class="container">
                <div class="card-body">
                    <form method="POST">
                        <div class="mb-12">
                            <div class="form-group">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email" id="email-login"
                                    aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <label for="password" class="form-label password">Password</label>
                                        <input type="password" class="form-control" name="password" id="password-login"
                                            placeholder="Password" required>
                                        <button type="submit" class="btn btn-warning login">Log in</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <h6 class='or'>--OR--</h6>
            <div class="guest_signup">
                <a href="/users/signup" class="btn btn-warning" tabindex="-1" role="button">Sign Up</a>
                <a href="/users/login/guest" class="btn btn-warning" tabindex="-1" role="button">Guest Login</a>
            </div>
        </div>
        <!-- <div class="image">
            <img src="https://cdn.vox-cdn.com/thumbor/ebLyPNyZghyiG1TCxQJ5vI-qxvU=/0x0:1280x853/1200x900/filters:focal(538x325:742x529)/cdn.vox-cdn.com/uploads/chorus_image/image/69482129/Aerial_Image__1_.0.jpg" alt="image">
        </div> -->

</body>

</html>