/* .card-body {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;

}

.content {
    display: flex;
    justify-self: center;
    align-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}  */
.container {
    display:flex;
    flex-flow: column;
    align-items: center;
    
    
}
.btn {
    background-color: #eecc0a;
    margin-top: 10px;

}

.navbar {
    display: flex;
    background-color: #eecc0a;
    justify-content: center;    
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.d-flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}
.mb-3 {
    display:flex;
    align-items: center;
}
.guest_signup{
    display:flex;
    justify-content:space-evenly;
}

.or {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}