body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.vox-cdn.com/thumbor/ebLyPNyZghyiG1TCxQJ5vI-qxvU=/0x0:1280x853/1200x900/filters:focal(538x325:742x529)/cdn.vox-cdn.com/uploads/chorus_image/image/69482129/Aerial_Image__1_.0.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signupForm {
    background-color: rgba(255, 255, 255, 0.82);
    padding: 10px;
    width: 275px;
}