#image {
  max-width: 300px;
}
.card-body{
  padding: 10px;
}

.card-title {
  height: 50%;
}

.one-card {
  display: flex;
  /* width: 35vw; */
  margin: 16px 0px;
}

.options {
  /* margin: none; */
  display: flex;
  justify-content: space-evenly;
  /* position: relative; */
}

#hatImage {
  height: 25px;
  width: 25px;
}

a {
  color: #00B7FF;
  
}

.btn {
  
  background-color: #eecc0a;
  color:black
}

